  .position{
      flex-grow: 3;
  }

  .time{
    flex-grow: 1;
    text-align: right;
  }
  
  .resume h2{
    font-size: 37px;
  }

  .resume h3{
    color: white;
    font-size: 25px;
}

  .resume p{

      color: white;
  }

  .resume ul{
      color: white;
      list-style-position: inside;
      margin: 0; 
      padding: 0;
      width: 100%;
  }
 